

/* li{
    /* list-style-type: square; */
    /* list-style-type: circle;
    border: 1px solid red;

    list-style-position: inside; */
    /* list-style-position: outside; */

    /* list-style-image: url(https://imgs.search.brave.com/EzCtD_DUzApeboFleIKIIYlr2D94PoUEzy6-zs1FdlY/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9udHBj/cmVsLmNvLmluL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDIxLzA4/L05UUEMtUm9qbWFs/LmpwZw); */

/* }  */

/* div{
    height: 100px;
    width: 100px; */
    /* border: 20px solid black; */
    /* border-width: 10px;
    border-style: dashed;
    border-color: aquamarine; */

    /* border: 10px solid aqua; */
    /* border-top: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px dotted darkgoldenrod;
    border-left: 10px solid orange; */
    /* border-radius: 10px; */

/* } */

div{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    /* border-radius: 50px; */
    border-radius: 50% 30% 10% 0%; /*top right bttom keft*/

}