.box{
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: lightcyan;
    transition-duration: 1s;
    /* transition-property: border-radius ; */
}

.box:hover{
    border-radius: 50px;
    background-color: antiquewhite;
}