

*{
    margin: 0;
    padding: 0;
}

.child{
    width: 100px;
    height: 100px;
    border-top: 10px solid green;
    border-right: 10px solid purple;
    border-bottom: 10px solid rebeccapurple;
    border-left: 10px solid saddlebrown;
    margin: 30px auto;
    border-radius: 50%;

    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

/* @keyframes loading {
    100%{
        transform: rotate(360deg);
    }
    
} */

/* @keyframes loading {
    100%{
        transform: rotate(360deg);
        transform: translateY(360px);//wrong
    }
    
} */

@keyframes loading {
    0%{
        transform: translateY(20px) rotate(0deg);
    }
    50%{
        transform: translateY(700px) rotate(180deg);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
    }
}